.example-card
{
  width: 30%;
  padding: 6%;
  background-color: black;
  text-align: center;
  word-wrap: break-word;
}
.word-tittle{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.container-card{
  display: flex;
  justify-content: left;
  margin-top:10px;
  margin-left: 10px;
  word-wrap: break-word;
}

.example-card-2
{
  width: 60%;
  padding: 6%;
  background-color: black;
  text-align: center;
  margin-left: 100px;
  word-wrap: break-word;
}
mat-label{
  word-break: break-all;
  font-weight: bold;
}
mat-card-content{
  padding: 20px;
}
table {
  width: 100%;
}
